:root {
  --primary: #39BEF9;
  --bg: #cdf0f7;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--bg);
  color: #fff;
}


/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 7%;
  background-color: rgba(199, 233, 245, 0.8);
  border-bottom: 0.5px solid #2a709e;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.navbar .navbar-logo {
  font-size: 2rem;
  font-weight: 700;
  color: #fff;
  font-style: italic;
}

.navbar .navbar-logo span {
  color: var(--primary);
}

.navbar .navbar-nav a {
  color: #00589A;
  display: inline-block;
  font-size: 1.3rem;
  font-weight: 510;
  margin: 0 1rem;
}

.navbar .navbar-nav a:hover {
  color: var(--primary);
}

.navbar .navbar-nav a::after {
  content: '';
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid var(--primary);
  transform: scaleX(0);
  transition: 0.2s linear;
}

.navbar .navbar-nav a:hover::after {
  transform: scaleX(0.5);
}

.navbar .navbar-extra a {
  color: #00589A;
  margin: 0 0.5rem;
}

.navbar .navbar-extra a:hover {
  color: var(--primary);
}

#hamburger-menu {
  display: none;
}

/* Navbar search form */
.navbar .search-form {
  position: absolute;
  top: 100%;
  right: 7%;
  background-color: #00589A;
  width: 50rem;
  height: 5rem;
  display: flex;
  align-items: center;
  transform: scaleY(0);
  transform-origin: top;
  transition: 0.3s;
}

.navbar .search-form.active {
  transform: scaleY(1);
}

.navbar .search-form input {
  height: 100%;
  width: 100%;
  font-size: 1.6rem;
  color: var(--bg);
  padding: 1rem;
}

.navbar .search-form label {
  cursor: pointer;
  font-size: 2rem;
  margin-right: 1.5rem;
  color: var(--bg);
}

/* Shopping Cart */
.shopping-cart {
  position: absolute;
  top: 100%;
  right: -100%;
  height: 100vh;
  width: 35rem;
  padding: 0 1.5rem;
  background-color: #00589A;
  color: var(--bg);
  transition: 0.3s;
}

.shopping-cart.active {
  right: 0;
}

.shopping-cart .cart-item {
  margin: 2rem 0;
  display: flex;
  align-items: center;
  gap: 1.5rem;
  padding-bottom: 1rem;
  border-bottom: 1px dashed #666;
  position: relative;
}

.shopping-cart img {
  height: 6rem;
  border-radius: 50%;
}

.shopping-cart h3 {
  font-size: 1.6rem;
  padding-bottom: 0.5rem;
}

.shopping-cart .item-price {
  font-size: 1.2rem;
}

.shopping-cart .remove-item {
  position: absolute;
  right: 1rem;
  cursor: pointer;
}

.shopping-cart .remove-item:hover {
  color: var(--primary);
}

.page-keranjang{
  margin: 2rem 0;
  margin-top: 10rem;
  padding: 1.4rem 7%;
}

.breadcrumb{
  padding: 15px 30px;
  margin-bottom: 20px;
  background-color: #003964;
  border-radius: 10px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, .5);
  margin-right: 80px;
  margin-left: 80px;
}

.breadcrumb-a{
  padding: 15px 30px;
  margin-bottom: 20px;
  background-color: #003964;
  border-radius: 10px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, .5);
  margin-right: 80px;
  margin-left: 80px;
  width: 30%;
}

.judul h2{
  font-size: 3rem;
  font-weight: bolder;
  color: #003964;
  padding: 0px 6%;
}

.judul p{
  font-size: 1.33rem;
  font-weight: bolder;
  color: #003964;
  padding: 0px 6%;
  margin-bottom: 3rem;
}

.card-body{
  color: #fff;
}
  
.btn-hapus {
  background-color: #dc3545; /* warna merah */
  color: white;
  padding: 6px 12px;
  border: none;
  border-radius: 6px;
  text-decoration: none;
  font-size: 12px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.card-header {
  padding: 20px;
  border-radius: 0 0 10px 10px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.05);
  margin-top: 2.5rem;
}

.card-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn-kembali, .btn-checkout{
  padding: 10px 18px;
  border-radius: 6px;
  text-decoration: none;
  font-size: 14px;
  transition: background-color 0.3s ease;
}

.form-group {
  margin-bottom: 1rem;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: -1rem;
}

input[type="text"],
input[type="email"],
input[type="no_hp"],
input[type="alamat"],
input[type="link"],
textarea {
  width: 100%;
  padding: 0.5rem;
  border: 2px solid #057D9F;
  border-radius: 10px;
  background-color: #46b7e3;
  color: #16325B;
  font-size: 1rem;
  padding-left: 1rem;
}

input[type="submit"] {
  background-color: #FFF100;
  color: #003964;
  border: none;
  cursor: pointer;
  margin-top: 2rem;
  padding: 10px 18px;
  border-radius: 8px;
  text-decoration: none;
  font-size: 14px;
  transition: background-color 0.3s ease;
  width: 10%;
  margin-bottom: 1rem;
}

.btn-kembali{
  color: white;
}
.btn-checkout{
  color: #003964;
}

.btn-kembali{
  background-color: #ff0000;
}

.btn-checkout{
  background-color: #FFF100;
}


/* Mobile Phone */
@media (max-width: 450px) {
  html {
    font-size: 55%;
  }
}